* {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#game {
    background: #f9f5da;
    /*border: 10px solid #222;*/
    position: relative;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.dot {
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    background-image: url(../img/red_dot.png);
}

#start {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 90px;
    cursor: pointer;
}

#start:hover {
    opacity: 0.8;
}

#score {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 40px;
    
}